.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.graphicArea {
  margin-top: 150px;
  margin-bottom: 30px;
}

.textArea {
  margin-top: 20px;
  font-size: 18px;
  color: #4e538a;
  line-height: 1;
  direction: rtl;
  text-align: center;
}

.buttonArea {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  justify-content: center; /* Center the button horizontally */
  align-items: center; /* Center the button vertically */
  margin-top: 20px;
}

.fadeIn {
  transform: translateY(20px); /* Slight downward offset */
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out forwards; /* Trigger animation */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Fully transparent */
    transform: translateY(20px); /* Slight downward offset */
  }
  to {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* No offset */
  }
}

.startButton {
  background-color: #fe5068;
  color: #fff;
  font-size: 25px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.multipleChoiceButton {
  width: 300px;
  background-color: #fe5068;
  color: #fff;
  font-size: 17px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  -webkit-tap-highlight-color: transparent; /* Removes blue highlight */
}

.multipleChoiceButton:active {
  background-color: #e4354c;
  transform: scale(0.97); /* Slight press effect */
}

.title {
  width: 299px;
  /* height: 75px; */
  color: #4e538a;
  text-align: center;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 25px;
}

.startButton:hover {
  background-color: #fe5068;
}

.infoTitle {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 84% */
}

.info {
  margin-top: 20px;
  font-size: 18px;
  color: white;
  line-height: 1;
  text-align: center;
}

.infoButton {
  width: 300px;
  background-color: white;
  color: #fe5068;
  font-size: 17px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  -webkit-tap-highlight-color: transparent; /* Removes blue highlight */
}
.infoButton:active {
  background-color: #ffe5e9; /* Light pink to match the red theme */
  color: #e4354c; /* Slightly darker red for contrast */
  transform: scale(0.98); /* Subtle press effect */
}
.infoContainer {
  width: auto;
  margin: 0 auto; /* Centers the container horizontally */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
  background-color: #fe5068;
}

.explanation {
  width: 259px;
  height: 98px;
  flex-shrink: 0;

  color: #4e538a;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.link {
  color: #4e538a;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px; /* 105.556% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.sub {
  width: 272px;
  height: 37px;
  flex-shrink: 0;
  color: #4e538a;
  text-align: right;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 111.765% */
  /* margin-top:25px; */
  margin-bottom: 10px;
}

.checkboxHeader {
  font-weight: 600;
  text-align: right;
}

.checkboxContainer {
  width: 300px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 2px solid #fe5068;
}
.formCheckboxContainer {
  display: flex;
  align-items: right;
  border: 2px solid #fe5068;
}
.formCheckBox {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 2px solid #fe5068 !important;
  cursor: pointer;
  appearance: none;
  margin-right: 14px;
  margin-top: 19px;
}
.formCheckBox:checked {
  background-color: #fe5068; /* Pink background when checked */
  position: relative;
}

.formCheckBox:checked::before {
  content: " ";
  border: 2px solid white;
  border-top: none;
  border-left: none;
  width: 23%;
  height: 50%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.checkboxText {
  width: 223px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #fe5068;

  text-align: right;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px; /* 111.765% */
  margin-top: 16px;
  margin-bottom: 16px;

  margin-right: 16px;
}

.bottomButton {
  margin-bottom: 80px;
}

.pressedButton {
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  width: 300px;
  height: 45px;

  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  font-size: 17px;
  padding: 10px 20px;

  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-tap-highlight-color: transparent; /* Removes blue highlight */
}
.pressedButton:active {
  background-color: rgba(255, 255, 255, 0.2); /* Soft white overlay */
  border-color: rgba(255, 255, 255, 0.7); /* Slightly stronger border */
  color: rgba(255, 255, 255, 0.8); /* Brighter text */
  transform: scale(0.98); /* Subtle press effect */
}
.guideContent {
  width: 309px;
  flex-shrink: 0;
  color: #4e538a;
  text-align: right;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 123.529% */
}
.guideTitle {
  width: 299px;
  /* height: 75px; */
  color: #4e538a;
  text-align: center;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
