.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.graphicArea {
  margin-top: 70px;
}

.graphicPlaceholder {
  width: 150px;
  height: 100px;
  background: linear-gradient(135deg, #e0e0e0, #f5f5f5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #333;
  border-radius: 8px;
}

.textArea {
  margin-top: 20px;
  font-size: 19px;
  color: #4e538a;
  line-height: 20px;
  direction: rtl;
  text-align: center;
  color: #4e538a;
  font-style: normal;
  font-weight: 400;
  width: 300px;
}
.starting {
  font-size: 17px;
  font-weight: 600;
  line-height: 19px; /* 111.765% */
}

.buttonArea {
  margin-top: 20px;
}
.buttonStyle {
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  width: 300px;
  padding: 13px;
  gap: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}
.helpButton {
  background-color: #fe5068;
  color: #fff;
  color: #f6fbff;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: background-color 0.3s ease;
}
.newsButton {
  background-color: #7b61ff;
  color: #fff;
  color: #f6fbff;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: background-color 0.3s ease;
}
.reportButton {
  background-color: #f38a56;
  color: #fff;
  color: #f6fbff;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: background-color 0.3s ease;
}
.multipleChoiceButton {
  width: 300px;
  background-color: #fe5068;
  color: #fff;
  font-size: 17px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.title {
  color: #4e538a;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  width: 220px;
}

.startButton:hover {
  background-color: #fe5068;
}

.fadeIn {
  transform: translateY(20px); /* Slight downward offset */
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out forwards; /* Trigger animation */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Fully transparent */
    transform: translateY(20px); /* Slight downward offset */
  }
  to {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* No offset */
  }
}
