.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 80vh; /* Explicit height */
  padding: 20px;
  background-color: #ffa54f;
}

.contactForm {
  width: 100%;
  max-width: 400px;
  height: 80%;
  background: #ffffff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label {
  font-size: 14px;
  color: #4d4d4d;
  margin-bottom: 4px; /* Consistent spacing for all labels */
}

.input {
  width: 90%;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 12px;
  font-size: 14px;
}

.textareaGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px; /* Reduce space after free text field */
}

.textareaLabel {
  font-size: 14px;
  color: #4d4d4d;
  margin-bottom: 4px; /* Reduce space between label and textarea */
}

.textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  font-size: 14px;
  resize: none; /* Prevent resizing */
  min-height: 80px; /* Set a standard height */
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.cancelButton,
.saveButton {
  width: 48%;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cancelButton {
  background-color: #ff6b6b;
}

.cancelButton:hover {
  background-color: #ff4d4d;
}

.saveButton {
  background-color: #4c68ff;
}

.saveButton:hover {
  background-color: #3956cc;
}

.toggleButton {
  font-size: 24px;
  background-color: #4c68ff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  align-self: flex-start;
}

.toggleButton:hover {
  background-color: #3956cc;
}

.submitButton {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4c68ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #3956cc;
}

.reportHeader {
  border-radius: 8px; /* Rounded corners */
  color: #ffffff;
  text-align: right; /* Aligns text to the right */
  width: 100%; /* Ensure it spans the full container width */
}

.reportPageTitle {
  font-size: 36px; /* Adjust font size as needed */
  font-weight: bold;
}

.reportPageDate {
  font-size: 16px;
  color: #ffa54f; /* Subtle color for date */
}
