/* page.module.css */

  .mainContainer {
    background: linear-gradient(270deg, rgba(217, 217, 217, 0.2) 0%, rgba(103, 156, 205, 0.138) 100%);
    border-radius: 10px; 
    padding: 14px; 
}

.aboutUs{
  color: rgba(188, 139, 204, 1);
}

.newsPageTitle{
  color: rgba(78, 83, 138, 1);
  font-size: 40px;
  font-weight: 400;
  line-height: 27.55px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
}

  .newsItem {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 20px;
    padding: 15px;  
    border: 1px solid #ccc; /* Subtle border for each item */
    border-radius: 8px; /* Rounded corners for a softer look */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow for a floating effect */
  }
  
  .newsTitle{
    color:rgba(78, 83, 138, 1);

    font-size: 30px;
    font-weight: 400;
    line-height: 17.71px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .newsDate {
    font-size: 25px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .newsContent {
    font-size: 20px;
    white-space: pre-line;
    line-height: 1.6;
  }
  
  .newsImage {
    width: 300px;
    /* height: 135px;  */
    object-fit: cover;
    margin-bottom: 10px;
  }

  
  .scrollableContainer {
    max-height: 500px; /* Set your desired height for the scrollable container */
    overflow-y: auto;  /* Enables vertical scrolling */
    padding: 10px;
    background-color: transparent; /* Make the background transparent */
  }