@import url("reset.css");
/* Import Google Font (if needed) */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Define custom font-face rules */
@font-face {
  font-family: "SimplerProAlte";
  src: url("/fonts/SimplerPro_Alte-Regular.otf") format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "SimplerProAlte";
  src: url("/fonts/SimplerPro_Alte-SemiBold.otf") format("opentype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: "SimplerProAlte";
  src: url("/fonts/SimplerPro_Alte-Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "SimplerProAlte";
  src: url("/fonts/SimplerPro_Alte-Black.otf") format("opentype");
  font-weight: 900; /* Black */
  font-style: normal;
}

/* Define CSS variables */
:root {
  --color-primary: #2b2d42;
  --color-secondary: #bfc6d2;
  --color-background: #f5f5f5;
  --color-accent: #535bf2;

  --border-radius: 0.5rem;

  --font-titles: "SimplerProAlte", serif; /* Use custom font for titles */
  --font-body: "SimplerProAlte", system-ui, sans-serif; /* Use custom font for body text */
}

body {
  color: var(--color-primary);
  background-color: var(--color-background);
  font-family: var(--font-body); /* Apply custom font to the body */
}
